
body{
  width: 500px;
    background: linear-gradient(#B467A3, #C67173);

}
#survey-form{

}
#label-name,#label-email,#label-phone,#label-age,#label-gender{
    display: block;
}

input:invalid{
    border:1px solid purple;
}
input:valid{
    border:0 solid purple;
}

#dropdown, #age, #email, #name ,#number,#comments{
    width: 100%;

}
form{
    border: #BDCEEA 2px solid;
}
fieldset{
    border: 3px;
}
#submit{
    width: 100%;
    background-color: #6EBA6A;
}